# .gitignore file

# Backup files
*~

# Lock files used by the Emacs editor.
.\#*

# Temporary files used by editors.
*.swp
*.orig
*.bak

# A hidden file created by the Mac OS X Finder.
.DS_Store

# python byte-code files
*.pyc
*.pyo

# Build/dist files
dist/*
build/*
pydicom.egg-info/*
distribute*.egg
distribute*.tar.gz
.tox/*

# Docs build
docs/_build/*

# coverage.py files
dicom/test/.coverage
dicom/test/htmlcov

# PyCharm IDE files
*.idea*
